# 忽略无关文件
*/__pycache__/
**/.vscode/
**/.vs/
**/*.pyc
**/*.pyo
**/.idea/
*.swp
*.swo

# 忽略文档
**/doc/
**/docs/

# 忽略输入输出
**/gradio_temp/
**/inputs/
**/outputs/
**/output/
**/*.log
**/output*/
**/*debug*/
**/records/

# 数据文件
# 忽略数据文件
**/data/memory.json
#**/logs/
**/C++ETW/logs/
**/C++ETW/bin/logs/
**/test/
**/tests/
**/checkMemory.py

#忽略配置文件
**/.env
**/.env.local



# 忽略旧的无用开发文件
unknown_threat_agent/
Image_Agent/
**/earlyCode/

# Node.js
**/node_modules/
**/dist/
**/.next/

# 录制文件
**/recordings/

# Rust
**/target/
*.rs.bk
Cargo.lock

# macOS
.DS_Store
*.bak
ScreenMonitor/win_monitor/start_admin.bat
ScreenMonitor/win_monitor/recordings
