# 忽略无关文件
*/__pycache__/
__pycache__/
**/.vscode/
**/.vs/
**/*.pyc
**/*.pyo
*.egg-info/
**/*.egg-info/
.runtime/
**/.idea/
*.swp
*.swo

# 忽略文档
# **/doc/
# **/docs/
# 忽略输入输出
**/gradio_temp/
**/inputs/
**/outputs/
**/output/
**/*.log
**/output*/
**/vlm_debug_frames/
**/*debug*/
**/records/
**/recordings/
artifacts/
# 数据文件
# 忽略数据文件
**/data/*
/data.zip
**/data.zip
#**/logs/
**/C++ETW/logs/
**/C++ETW/bin/logs/
**/test/
**/tests/
!tests/
!tests/**
tests/**/__pycache__/
tests/**/*.pyc
tests/**/*.pyo
**/checkMemory.py

#忽略配置文件
**/.env
**/.env.local



# 忽略旧的无用开发文件
unknown_threat_agent/
Image_Agent/
**/earlyCode/

# Node.js
**/node_modules/
**/dist/
**/.next/

# 录制文件
**/recordings/

# Rust
**/target/
*.rs.bk
Cargo.lock

# macOS
.DS_Store
*.bak
ScreenMonitor/win_monitor/start_admin.bat
ScreenMonitor/win_monitor/recordings

.claude/
.codex/
spec/docs/方案(只负责参考不用于展示）.md
.venv/

api.txt